In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def load_imdb(path):
    data = pd.read_csv(path)
    movies = data['movie_title']
    data.drop('movie_title', axis=1, inplace=True)
    data.set_index(movies, inplace=True)
    return movies, data

In [26]:
movies, imdb = load_imdb('../data/imdb_dataset.csv')
imdb2 = pd.read_csv('../data/imdb_dataset.csv')
movies2 = imdb2.movie_title.copy()

In [27]:
imdb.columns

Index(['duration', 'cast_total_facebook_likes', 'title_year', 'imdb_score',
       'movie_facebook_likes', 'director_id', 'actor_2_id', 'actor_1_id',
       'actor_3_id', 'Action', 'Sport', 'Reality-TV', 'Animation', 'Western',
       'Music', 'Comedy', 'Adventure', 'Short', 'Musical', 'Documentary',
       'Film-Noir', 'News', 'Sci-Fi', 'Game-Show', 'War', 'Thriller',
       'Fantasy', 'Drama', 'Horror', 'Family', 'Mystery', 'Biography', 'Crime',
       'History', 'Romance', 'language_id', 'country_id', 'content_rating_id'],
      dtype='object')

In [28]:
imdb2[imdb2.movie_title == "The Terminal"]

,duration,cast_total_facebook_likes,title_year,imdb_score,movie_facebook_likes,director_id,actor_2_id,actor_1_id,actor_3_id,Action,...,Family,Mystery,Biography,Crime,History,Romance,language_id,country_id,content_rating_id,movie_title
536,128,16199,2004,7.3,16000,38,401,33,457,0,...,0,0,0,0,0,0,0,0,0,The Terminal

In [29]:
imdb.head()

,duration,cast_total_facebook_likes,title_year,imdb_score,movie_facebook_likes,director_id,actor_2_id,actor_1_id,actor_3_id,Action,...,Horror,Family,Mystery,Biography,Crime,History,Romance,language_id,country_id,content_rating_id
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,178,4834,2009,7.9,33000,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Pirates of the Caribbean: At World's End,169,48350,2007,7.1,0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Spectre,148,11700,2015,6.8,85000,2,2,2,2,1,...,0,0,0,0,0,0,0,0,1,0
The Dark Knight Rises,164,106759,2012,8.5,164000,3,3,3,3,1,...,0,0,0,0,0,0,0,0,0,0
Star Wars: Episode VII - The Force Awakens,107,143,0,7.1,0,4,4,4,4,0,...,0,0,0,0,0,0,0,0,0,1

In [30]:
from sklearn.neighbors import BallTree, KDTree

In [36]:
tree = BallTree(imdb, leaf_size=40)
#tree = KDTree(imdb, leaf_size=2)

In [42]:
liked = movies[[3]].index
l_imdb = imdb.iloc[liked, :]
print(l_imdb.index)

Index(['The Dark Knight Rises'], dtype='object', name='movie_title')

In [43]:
dist, index = tree.query(l_imdb, 10)
for ind in index:
    print("\nBecause you liked {}:".format(movies[ind[0]]))
    for n, i in enumerate(ind[1:]):
        print("\t{}. {}".format(n+1, movies[i]))

Because you liked The Dark Knight Rises:
	1. Inception
	2. The Avengers
	3. The Avengers
	4. Avengers: Age of Ultron
	5. The Revenant
	6. Silver Linings Playbook
	7. The Hunger Games
	8. Les MisÃ©rables
	9. The Wolf of Wall Street

In [39]:
from sklearn.neighbors import NearestNeighbors

In [40]:
nn = NearestNeighbors(algorithm='brute', radius=0.4)
nn.fit(imdb)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=0.4)

In [41]:
mov = nn.kneighbors(l_imdb, 6, return_distance=False)
for m in mov:
    print(movies[m])

0                   Avatar
815             Goosebumps
4569            Goosebumps
649         Need for Speed
1381     We're the Millers
3175    American History X
Name: movie_title, dtype: object