In [7]:
import numpy as np
import pandas as pd

In [2]:
%ls ../data/ml-latest-small/

links.csv  movies.csv  ratings.csv  README.txt  tags.csv

In [3]:
ratings = pd.read_csv("../data/ml-latest-small/ratings.csv")
movies = pd.read_csv("../data/ml-latest-small/movies.csv", index_col=0)

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [6]:
movies.shape, ratings.shape

((9125, 2), (100004, 4))

In [17]:
ratings.rating.dtype

dtype('float64')

In [19]:
ratings[ratings.userId == 1].sort_values(by = ["timestamp"])[ratings.rating > 2.0]

/home/nischal/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

    userId  movieId  rating   timestamp
17       1     2455     2.5  1260759113
19       1     3671     3.0  1260759117
8        1     1339     3.5  1260759125
10       1     1371     2.5  1260759135
13       1     2105     4.0  1260759139
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
12       1     1953     4.0  1260759191
14       1     2150     3.0  1260759194
4        1     1172     4.0  1260759205

In [9]:
ratings.userId.unique().shape

(671,)