In [1]:
import numpy as np
import pandas as pd

In [5]:
%ls ../data/ml-latest-small/

links.csv  movies.csv  ratings.csv  README.txt  tags.csv

In [11]:
ratings = pd.read_csv("../data/ml-latest-small/ratings.csv")
movies = pd.read_csv("../data/ml-latest-small/movies.csv", index_col=0)

In [12]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [13]:
movies.head()

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [15]:
movies.shape, ratings.shape

((9125, 2), (100004, 4))

In [19]:
ratings[ratings.userId == 1].sort_values(by = ["timestamp"])

    userId  movieId  rating   timestamp
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
19       1     3671     3.0  1260759117
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
13       1     2105     4.0  1260759139
0        1       31     2.5  1260759144
7        1     1293     2.0  1260759148
5        1     1263     2.0  1260759151
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
6        1     1287     2.0  1260759187
12       1     1953     4.0  1260759191
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
18       1     2968     1.0  1260759200
11       1     1405     1.0  1260759203
4        1     1172     4.0  1260759205